node_modules/
.DS_Store
dataset/
build/
/pipeline/server/saved_images/
/utils/median_filter/mask_images/
/utils/median_filter/motion_masks/
/utils/output_images*/
secrets.h
secrets.py
pipeline_highend/evaluate/model*