node_modules/
.DS_Store
dataset/
build/
/utils/median_filter/mask_images/
/utils/median_filter/motion_masks/
/utils/output_images*/
/pipeline_highend/*/evaluate/sequences
/pipeline_highend/*/evaluate/eval_images
/pipeline_highend/models
secrets.h
config.py
pipeline_highend/models/model*